*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-top h1{
  color: #29b1dd;
  padding: 15px 0;

}

.header-bottom{
  background-color: #29b1dd;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

.header-bottom h2{
  text-transform: uppercase;
}

main{
  background-color: #dddddd;
  height: calc(100vh - 67px - 57px);
}

main .container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  margin: 10px;
}

.card{
  background-color: #fff;
  width: 150px;
  height: 70px;
  border-radius: 8px;
  box-shadow: 5px 5px 8px #888888;
}

.template{
  display: none;
}
